[run]
omit =
    */.local/*
    */apps.py
    */admin.py
    */journey_tests/*
    */asgi.py
    */wsgi.py
    */settings*
    */manage.py
    */streamlit_main.py
    */migrations/*
source = django_google_structured_logger
relative_files = True

[html]
directory = coverage-reports

[xml]
output = coverage-reports/coverage.xml
